@import '../base/listas';

$bg-color-header:nth($colores,5);
$bg-color-main:nth($colores,2);
$bg-color-footer:nth($colores,5);
$color-primario:nth($colores,6);
$color-segundario:nth($colores,5);

