/* HEADER */
.header {
    width: 100%;
    

    .nav-size {
        width: 100%;
        background-color: $bg-color-header;
        
        .img-nav {
            width: 120px;
        }

        .nav-style {
            justify-content: center;

            .nav-link {
                font-size: 20px;
                color:$color-primario;
            }

        }
    }

}
/* HEADER */